.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.rows{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}