.header{
    background-color: bisque;
    padding-bottom: 10px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
a {
    text-decoration: none;
    color: blue;
}
nav{
    flex: 1;
    text-align: right;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.col{
    flex-basis: 50%;
     min-width: 300px;
 } 
.col img {
     max-width: 100%;
     padding: 50px 0;
 } 
.col h1{
     font-size: 50px;
     line-height: 70px;
     margin: 25px 0;
     font-family: 'Times New Roman', Times, serif;
 }
.rows{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn{
    background-color:rgb(89, 89, 215);
     color: white; 
     width: 125px;
     height: 40px;
     border-radius: 20px;

}
.category{
    margin: 70px 0;

}

.col-2 img{
    width: 100%;
}
.col-2{
    flex-basis: 10%;
    min-width: 150px;
    margin-bottom: 30px;
    box-shadow: 20px 20px 20px 34px rgba(red, green, blue, alpha);
    border: 2px solid bisque;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    margin: 15px 0;

}
.smallContainer{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-3{
    flex-basis: 25%;
    margin-bottom: 50px;
    min-width: 190px;
    box-shadow: 10px 10px 10px 20px rgba(red, green, blue, alpha);
    border: 1px solid bisque;
    margin: 15px 0;
    border-radius: 5px;
    flex-wrap: wrap;

}
.col-3 img{
    width: 60%;
    height: 40%;
}
.title{
    position: relative;
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: brown;

}
.title::after{
    background: bisque;
    content: '';
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-3 p{
    font-size: 14px;
}
.rating.fa{
    color:yellow;
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://static.toiimg.com/thumb/msid-94651254,width-1070,height-580,imgsize-34770,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg");
    margin: 40px 0;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.btn1{
    background-color: transparent;
    width: 125px;
    height: 40px;
     color: white;

}
.btn:hover,.btn1:hover{
    color: white;
    font-weight: 200;
    background-color: black;
}
.banner h2{
    color:white;
}
.col-4{
    font-weight: 200;
}
.col-4 ul{
    list-style-type:none;
    padding-top: 5px;
}
.follow{
    display: flex;
    justify-content:space-around ;
}
.footer{
    background-color: bisque;
    padding-bottom: 20px;
    padding-top: 20px;
}
.col-4 img{
    width: 80px;
    height: 30px;
}
table{
    padding-top: 5px ;
}

table h4{
    padding-top: 5px;
}
.col-4 p{
    padding-top: 5px;
}

.profile{
    text-align: center;
    color: blueviolet;
}
.text{
    width: 100%;
    height: 70%;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 19%;

}
.text form{
    margin-top: 10px;
    text-align: center;
    line-height: normal;
    line-break: 10px;
    color:black;
    font-weight: 500;
}


.header1{
    background-color: bisque;
    padding-bottom: 20px;
    width: 100vw;
    height: 7vh;
}
.shop{
    background-image: url("https://c8.alamy.com/comp/GTA60C/background-with-old-electronics-placed-in-a-circle-on-a-wooden-table-GTA60C.jpg");
    width: 100vw;
    height: 30vh;
}
.SN{
    font-weight: 400;
    text-align: center;
    padding: 10% 10% 20% 10%;
    color: white;
    font-size: 45;
}

.title1{
position: relative;
text-align: center;
margin: 0 auto 225px;
line-height: 60px;
color: brown;

}

.swap{
    text-align: center;
}
.swap a{
    justify-content: center;
    text-decoration: none;
    background-color: black;
    font-weight: 200;
    border-radius: 2px;
    color: white;
    padding: 12px;
}
.footer2{
    background-color: bisque;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}
.col-7{
    width: 20%;
    height: 30%; 
    /* text-align:left ; */
    margin-right: 50px;
}
#prodetails ,#prodetails1,#prodetails3,#prodetails4,#prodetails5,#prodetails6#prodetails7,#prodetails2{

    display: flex;
    margin-top: 20px;
    /* text-align: right; */
}
.btn2{
    background-color: green;
    width: 125px;
    height: 40px;
     color: white;

}
.btn2:hover{
    color: white;
    font-weight: 200;
    background-color:lightgreen;
}
select{
    width: 100px;
    height: 39px;
}
.price{
    padding-top: 10px;
}
.details{
    width: 50%;
    padding-top: 30px;

}
.about{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-ai-source-file-technology-digital-electronic-product-image_14375.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    padding-top: 2px;
    margin-top: 2px;
}
.footer3{
    background-color: bisque;
     padding-bottom: 20px;
     padding-top: 20px; 

}
.col-8{
    flex-basis: 50%;
    min-width: 300px;
 } 
 .col-8 img {
     width: 100%;
     padding: 50px 0;
 } 
 /* .col-8 h1{
     font-size: 50px;
     line-height: 70px;
     margin: 25px 0;
 } */
 .know{
    flex-basis: 50%;
    padding-left:10px;
    text-align: center;
    padding-right: 10px;
    width:50%;
    margin-left:10px ;
    height: 100%;
    margin-right: 10px;
 }
 .image{
    display: flex;
    flex-basis: 50%;
    width: 90%;
    height:46% ;
 }
 .contact{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 /* .connection{
    flex-basis:50%;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
 }*/
 .connection li{
    list-style-type: none;
    display: flex;
    padding: 10px 0;
 }
 .connection span{
    font-weight: lighter;
    padding-left: 0;
 }
 .connection h2{
    font-weight: 500;
    font-size: 30px;
    padding: 20px 0;
 }
 .connection li p{
    margin: 0;
 }
 #form form{
    display: flex;
    flex-direction: column;
    width: 62%;
    align-items: flex-start;
 }
 #form form input,#form form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 20px;
 }
.person div{
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    padding-top: 98px;
}
.person div img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}
.person div p{
    margin: 0;
    
}
#form{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 80px;
    border: 2px light black;
}
.know h2{
    font-size: 30px;
    font-weight:bold 
}

.shop2{
    background-image: url("C:\Users\yashv\CProgramming\FullStackDevelop\ph4.jpg");
    width: 100vw;
    height: 30vh;
 }
.bag{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.cart{
    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: 3%;
    margin-right: 5%;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.cart td:nth-child(1){
    width: 100px;
    text-align: center;
}
.cart td:nth-child(2){
    width: 150px;
    text-align: center;
}

.cart td:nth-child(3){
    width: 200px;
    text-align: center;
}
.cart td:nth-child(4),.cart td:nth-child(5),.cart td:nth-child(6){
    width: 150px;
    text-align: center;
}
.cart td:nth-child(5).input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.cart-add{
    display: flex;
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coupan{
    width: 50%;
    height: 100%;
    margin-bottom: 20px;
}
.coupan h3{
    padding-bottom: 20px;
    padding-left: 10px;
}

.coupan input{
    margin-right: 10px;
    padding: 10px 20px;
    width: 60%;
    border: 2px solid grey;
    outline: none;
}
.cart-tools{
    width: 50%;
    margin-bottom: 20px;
    border:  2px solid grey;
    outline: none;
    padding: 30px;
}
.cart-tools table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
.cart-tools table td{
    width: 50%;
    padding: 10px;
    border: 1pX solid grey;
    font-size: 14px;
    outline: none;
}

.apply{
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
    font-weight: 200;
}
.apply:hover{
    background-color: lightgreen;
}
.check{
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    font-weight: 200;
}
.check:hover{
    background-color: lightgreen;
}
.account{
    display: flex;
    flex-basis: 50%;
    width: 60%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    border: 2px soild black;
    
}
.btn2 p,.btn h4,details h2,.hello{
    padding-top: 20px;
}
.about h1{
    text-align: center;
}
.know img{
    width: 90%;
    height: 80%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.know h2{
    padding-top: 100px;
}
.know p{
    padding-top: 20px;
}
form span ,form h2{
    padding-top:20px;
}
.col-9{
    flex-basis: 25%;
    margin-bottom: 50px;
    min-width: 190px;
    box-shadow: 10px 10px 10px 20px rgba(red, green, blue, alpha);
    border: 1px solid bisque;
    margin: 15px 0;
    border-radius: 5px;
    flex-wrap: wrap;

}
.col-9 img{
    width: 60%;
    height: 70%;
}
.shop2 h1,.about h1,.shop h1{
    padding-top: 80px;
    font-size: 50px;
    color: white;
    /* padding-bottom: 20px; */
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.account-p{
    padding:  50px 0;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 white;
    /* overflow: hidden; */
}
.form-btn{
    display: inline-block;
    justify-content: space-around;  
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition:transform Is;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid black;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#logform{
    left:-300px;
    position: relative;
    /* left: 5px; */
    /* right: 5px; */
}
#registerform{
    left: 0;
    /* position: relative; */
    
    
}
#indicator{
    width: 100px;
    border: none;
    background: #ff523f;
    height: 3px;
    margin-top: 8px;
    transform: translateX(50px);
    transition: transform Is;
}
.Contain{
    max-width: 600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 500px;
}